.about-me{
	/* background-color: var(--primary-color);	
	background-color: #AB765D;	 */
	height: 100vh;
}
.about-wrapper{
	height: 100%;
}
.about-me .section-tag{
    font-size: 5.2em;
}

/* .handsome{
   width: 100%;
   height: 100%;
   background-image: url(../../assets/img/handsome.jpg);
    background-position: center;
    background-size: contain;
} */


.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 600px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%; 
	grid-template-rows: auto auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed a {
	pointer-events: auto;
}

.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 150px 150px 150px 150px; 
	grid-template-rows: 150px 75px 75px;
	grid-template-areas:	"... title title title"
							"author ... desc desc"
							"author ... link link";
	box-shadow: 0 10px 53px 0 rgba(9, 6, 22, 0.05);
}

.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	height: 100vh;
	font-size: 0.85em;
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	/* opacity: 0.8; */
	width: 300px;
	height: 300px;
	background: url('../../assets/img/handsome2.jpg');
	background-position: center;
	background-size: cover;
	z-index: 1;
	/* border-radius: 5px; */
	box-shadow: 0 10px 53px 0 rgba(9, 6, 22, 0.05);
	transition: 3s all ease;
}
.content__img:hover + .content__title{
	opacity: 0.5;
}


.content__title {
	grid-area: title;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 8em;
	line-height: 160px;
	/* margin: 0; */
	margin-left: 3rem;
	color: var(--soft-black-color);
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
	word-wrap: none;
	z-index: 2;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
	color: var(--primary-color);
	/* color: white; */
}
.content__author:hover + .content__title{
	opacity: 0.5;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.content__info {
	grid-column: 1 / 3;
}

.content__related-item {
	padding: 1em;
	transition: color 0.3s;
}

.content__related-img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

.skill{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(1, 1, 1, 0.529);
	backdrop-filter: blur(5px);
	z-index: 150;
}
.skill .wrapper{
	height: 50%;
	width: 50%;
	background-color: azure;

}


@media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.about-me{
		/* background-color: blue; */
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
	.about-me{
		/* background-color: red; */
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
	.about-me{
		/* background-color: yellow; */
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}
	.content__author,
	.content__desc,
	.content__link {
		font-size: 1.35em;
	}
	.about-me{
		/* background-color: green; */
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}
	.about-me{
		/* background-color: black; */
	}
}
