nav{
    height: 7rem;
    box-shadow: none;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    border: none;
}
nav .nav-wrapper{
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
}

.nav-left-side{
    justify-content: space-between;
}

/* .akwaaba{
    position: relative;
    color: var(--dark-color)
} */
/* .akwaaba::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 7px;
    width: 80px;
    background: url('../../assets/img/kante.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
} */

/* menu btn */
.backdrop{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menu-btn{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 50;
}
.menu-btn_burger{
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--dark-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger1{
    transform: translateY(-5px);
}
.burger2{
    transform: translateY(5px);
    width: 80%;
    align-self:flex-end;
}

.menu-btn.open .menu-btn_burger.burger1{
    transform: rotate(45deg) translate(3px, -3px);
    background: var(--dark-color) !important;
}
.menu-btn.open .menu-btn_burger.burger2{
    width: 100%;
    transform: rotate(-45deg) translate(3px, 3px);
    background: var(--dark-color) !important;
}

/* toggle_menu */
@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
    
	}
	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);

	}
}

@keyframes scale-display--reversed {
	0% {
		display: inline-flex;
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	99% {
		display: inline-flex;
		opacity: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	100% {
		display: none;
		opacity: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
	}
}

.toggle_menu{
    position: absolute;
    /* box-shadow: 0 10px 53px 0 var(--cream-color); */
    box-shadow: 0 10px 53px 0 rgba(0, 83, 156, 0.173);
    top: 1.39em;
    right: 2rem;
    width: 22%;
    height:50vh;
    z-index: 45;
    display: flex;
    padding: 3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    color: var(--dark-color);
    transition: all .2s linear;
    animation: scale-display .3s;
}
.cross-site-nav.flex,
.basic-contact{
    position: relative;
    flex-direction: column;
    line-height: 2;
    margin: 1.2em 0;
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    align-items: flex-start;
    cursor: pointer;
}
.mail.flex{
    flex-direction: column;
    align-items: flex-start;
}
.toggle_menu li{
    position: relative;
}
.toggle_menu li a{
    font-size: 1rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff00;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.toggle_menu li a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 var(--blue-color);
  }
.social-contact.flex{
    margin: 1.2em 0;
    justify-content:space-between;
    padding: 1rem 0;
}
.say-hello{
    text-transform: capitalize;
    color: var(--blue-color);
}
#copied{
  display: none;
  position: absolute;
  right: 0;
  padding: .15rem .5rem;
  font-size: 1rem;
  background-color: var(--peach-color);
  color: var(--dark-color);
  transition: all .2s linear;
    animation: scale-display .3s;
}
.stil-dev{
  margin-left: 2rem;
  padding: .15rem .5rem;
  font-size: 1rem;
  background-color: var(--peach-color);
  color: var(--dark-color);
  transition: all .2s linear;
    animation: scale-display .3s;
}
#copied.textcopied{
    display: inline-block;
}
#copied.textnotcopied{
    transition: all .2s linear;
    animation: scale-display--reversed .3s;
}




@media screen and (min-width: 850px)  {
    nav .nav-wrapper{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    nav{
        position: fixed;
    }
  }



@media screen and (max-width: 1100px) {
    nav{
        background-color:var(--blue-color);
        position:initial;
        height: 74px;
    }
    nav .nav-wrapper{
        padding-left: 1rem;
        padding-right: 1rem;
        position: unset;
    }
    .toggle_menu{
        position: absolute;
        box-shadow: 0 10px 53px 0 var(--primary-color);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 998;
        display: flex;
        height: 100vh;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: white;
        justify-content: space-around;
        color: var(--primary-color);
    
    }
    .cross-site-nav.flex,
    .basic-contact{
        height: 35%;
        flex-direction: column;
        line-height: 4.5;
        margin: .6em 0;
        -webkit-transition-delay: 200ms;
        transition-delay: 200ms;
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        align-items: flex-start;
    }
   
    

}
@media screen and (max-width: 550px) {
    .menu-btn{
        width: 30px;
    }
    .menu-btn_burger{
        height: 1.5px;
    }
    .burger2{
        width: 70%;
    }
}