header{
    max-height: 100vh;
    /* padding: 3rem 0; */
    background: var(--blue-color);
    z-index: 0;
}
header .wrapper.flex{
    position: relative;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    /* justify-content: flex-start; */
}
header .wrapper .text{
    width: 100%;
    /* text-align: center; */
}
#sayHello{
    font-family: "Averta",sans-serif;
    font-size: 9vw;
    line-height: 9.4vw;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px #CECAE3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

header .wrapper .text h1{
    font-size: clamp(3.5rem, 6.6vw, 8vw);
    font-weight: bolder;
    letter-spacing: .1rem;
    line-height: 1.2;
    color: var(--white-color);
}


.billboard{
    max-width: 600px;
    color: var(--dark-color);
}
.avator{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 50%;
    aspect-ratio: 1;
    background-color: var(--dark-color);
    background-image: linear-gradient(to bottom, #410fe72e,#410fe752 ),url('../../assets/img/handsome2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /* border-radius: 0 0 50% 50%; */
    cursor: pointer;
}
.avator:hover{
    z-index: 100;
    background-image: linear-gradient(to bottom, #410fe700,#410fe700 ),url('../../assets/img/handsome2.jpg');

}

@keyframes robote {
    0%   {left: 110%; bottom: 1rem;}
    100% {left:83%; bottom: 1rem; 
        }
  }

.robot-assitance{
    position: absolute;
    height: 36%;
    width: 16%;
    background:url(../../assets/img/happy-robot-assistant-waving-hello.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: robote;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.robot-words-wrapper{
    position: relative;
    top: .5rem;
    right: 13.5rem;
    height: auto;
    width: 250px;
    padding: 1rem;
    background-color: rgba(13, 12, 12, 0.421);
    overflow: hidden;
    border-radius: 1rem;
    color: white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 10px 53px 0px rgba(0, 0, 0, 0.123);
    transition: all 2s ease-in-out;
    display: none;
}
.robot-words-wrapper-close{
    position: absolute;
    top: .2rem;
    right: .8rem;
    cursor: pointer;
}
.robot-words-wrapper h1,
.robot-words-wrapper h1 .highlight{
    font-size: 1em;
    font-weight: 600;
    margin: 3px 0;
}

.robot-words-wrapper span{
    font-size: .8em;
    margin: 3px 0;
}
/* The animation code */


@media screen and (min-width: 1100px) and (max-width:1970px) {
    header{
        padding: 5rem 0;
    }
  }

@media screen and (min-width: 36rem) {
}


@media screen and (max-width: 36em) {
    
    header .wrapper.flex{
        padding: 0 1rem;
        justify-content: center;
        text-align: center;
    }
    header .wrapper .text p{
        color: rgb(216, 214, 214);
        font-size: 1rem;
        margin: 8px 0;
    }

}